.app {
  width: 50%; margin: 0px auto; padding: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
}
.menu Button {
  text-transform: none;
}
.menu .login{display: flex; align-items: center; gap: 10px; float: right;}

.page {
  background-color: rgba(255, 255, 255, 0.904);
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
}

.logout{margin: 10px;}

.login {
  display: flex; gap: 15px; flex-direction: column;
}
.login Button {
  text-transform: none;
  width: 100px;
}

.messages Button{margin-left:15px; margin-top: 3px; }
.c{margin: 5px 10px;}

.buttongroup{padding: 10px; display: flex; }
.del{margin-top: 5px; margin-left: 10px; text-align: center;}
.del:hover{color: red; cursor: pointer;}
